
<h2 class="flexy light-blue-bar">
  <%= @league.name.upcase %>
</h2>
<ul class="nav nav-pills nav-fill" style="margin-bottom:10px">
  <li class="nav-item yellow-box" >
    <%# <a class="nav-link "  href="#"> %>
    <%= link_to "CLASSEMENT", league_path(@league) %>
  </li>
  <li class="nav-item yellow-box" >
    <%# <a class="nav-link" href="#"> %>
    <%= link_to "MATCHS", league_games_path(@league) %>
  </li>
  <li class="nav-item yellow-box active">
    <%# <a class="nav-link active"  href="#"> %>
    <%= link_to "MUR", league_messages_path(@league) %>
  </li>
</ul>

<div class="chatroom">

    <div class="chatroom-item chatroom-form">
      <%= simple_form_for [@league, @message] do |f| %>
        <span id="form-style">
          <%= f.input :comment, placeholder: "Passion, plaisir et mauvaise foi ...", label: false %>
          <%= f.button :submit, value:'ENVOYER', class:"btn-smally envoi" %>
        </span>
      <% end %>
    </div>

    <div class="chatroom-item chatroom-display">
      <% @league.messages.reverse.each do |message| %>
        <div class="card-chat">
            <% if message.user == current_user %>
            <div class="message-avatar-date-reverse" id="current-user-chat">
            <%# <i class="fa-solid fa-user"></i> %>
              <%= cl_image_tag message.user.photo.key, class: "avatar-poto-message-reverse" %><span class="blaze-comment-reverse"><%= message.user.username.upcase%></span>
              <p class="text-light-grey-reverse"> <%= message.created_at.strftime("%d" +"/" + "%m" +"/" + "%Y") %>
                                                  <%= message.created_at.strftime("%H"+":"+ "%M") %></p>
            </div>
            <% else %>
            <div class="message-avatar-date">
              <%= cl_image_tag message.user.photo.key, class: "avatar-poto-message" %><span class="blaze-comment"><%= message.user.username.upcase%></span>
              <p class="text-light-grey"> <%= message.created_at.strftime("%d" +"/" + "%m" +"/" + "%Y") %>
                                          <%= message.created_at.strftime("%H"+":"+ "%M") %></p>
            </div>
            <% end %>
            <p class="message-content-blue"><%= message.comment %></p>
        </div>
      <% end %>
    </div>

</div>
