
<h2 class="bar light-blue-bar">
  <%= @league.name.upcase %>
</h2>

<ul class="nav nav-pills nav-fill" style="margin-bottom:10px">
  <li class="nav-item yellow-box" >
    <%= link_to "CLASSEMENT", league_path(@league) %>
  </li>
  <li class="nav-item yellow-box" >
    <%= link_to "MATCHS", league_games_path(@league) %>
  </li>
  <li class="nav-item yellow-box active">
    <%= link_to "MUR", league_messages_path(@league) %>
  </li>
</ul>

<div class="chatroom">
  <div class="chatroom-item">
    <%= simple_form_for [@league, @message] do |f| %>
      <%= f.input :comment, placeholder: "Hey les gars, qui est parti avec mes boules la dernière fois ?", label: false, input_html: { id: "form-message"} %>
      <%= f.button :submit, value:'ENVOYER', class:"btn-small btn-smally", id:"btn-message" %>
    <% end %>
  </div>
  <div class="chatroom-display">
    <% @league.messages.reverse.each do |message| %>
      <% if message.user == current_user %>
        <div class="card-chat card-chat-reverse">
          <div class="message-avatar-date message-reverse">
            <%= cl_image_tag message.user.photo.key, class: "avatar-poto-message avatar-reverse" %><span class= "username-comment username-reverse"><%= message.user.username.upcase %></span>
            <p class="message-light-grey message-reverse"> <%= message.created_at.strftime("%d" +"/" + "%m" +"/" + "%Y") %>
                                                           <%= message.created_at.strftime("%H"+":"+ "%M") %></p>
          </div>
          <p class="message-content-blue"><%= message.comment %></p>
        </div>
      <% else %>
        <div class="card-chat">
          <div class="message-avatar-date">
            <%= cl_image_tag message.user.photo.key, class: "avatar-poto-message" %><span class= "username-comment"><%= message.user.username.upcase%></span>
            <p class="message-light-grey"> <%= message.created_at.strftime("%d" +"/" + "%m" +"/" + "%Y") %>
                                           <%= message.created_at.strftime("%H"+":"+ "%M") %></p>
          </div>
          <p class="message-content-blue"><%= message.comment %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
