<h2 class="bar light-blue-bar">CRÉATION DE LIGUE</h2>
<h3 class="bar yellow-bar">4. JE FORME LES DOUBLETTES</h3>

<div class="flexy choose-teams">
  <%= form_with model: [@league, @team_user], :url =>  choose_teams_create_league_path(@league), :html => {:method => :post} do |f| %>
    <% i = 1 %>
    <% @number_of_teams.times do %>
      <h3><%= "DOUBLETTE n°#{i}" %></h3>
      <div class="doublette-selection">
        <%= f.collection_select "team#{i}user1", @players.map { |player| [player.username.upcase, player.id] }, :second, :first, {}, { class: "btn-doublette" } %>
        <%= f.collection_select "team#{i}user2", @players.map { |player| [player.username.upcase, player.id] }, :second, :first, {}, { class: "btn-doublette" } %>
      </div>
      <% i += 1 %>
    <% end %>
  <div class="flexy">
    <%= f.submit 'FINITO', class: "btn-small btn-smally" %>
  </div>
</div>
  <% end %>
