<h1>new league</h1>
<h1>creer ma nouvelle ligue</h1>

<%= simple_form_for @league do |f| %>
  <%= f.input :name %>
  <%= f.button :submit %>
<% end %>
<div class="form-wrapper">
<%= form_with model: @game do |form| %>
  <%= form.text_area :name %>
  <%= form.submit "POINT" %>
<% end %>
</div>
