<div class="flexy">
<h1>new league</h1>
<h1>Tape le nom de ta league !</h1>


<%= simple_form_for @league, html: { class: "flexy form-new-league"} do |f| %>
  <%= f.input :name, label: false %>
  <div class="margin-top">
  <%= f.button :button, "8 player", class: "btn-smally margin-top" %>
  <%= f.button :submit, "10 player", class: "btn-smally margin-top" %>
  <%= f.button :button, "12 player", class: "btn-smally margin-top" %>
  </div>
<% end %>
</div>
