<h2 class="bar light-blue-bar">
  <%= @league.name.upcase %>
</h2>

<div >
  <ul class="nav nav-pills nav-fill" style="margin-bottom:10px">
    <li class="nav-item yellow-box active" >
     <%# <a class="nav-link active"  href="#"> %>
      <%= link_to "CLASSEMENT", league_path(@league) %>
    </li>
    <li class="nav-item yellow-box" >
     <%# <a class="nav-link" href="#"> %>
      <%= link_to "MATCHS", league_games_path(@league) %>
    </li>
    <li class="nav-item yellow-box">
     <%# <a class="nav-link"  href="#"> %>
      <%= link_to "MUR", league_messages_path(@league) %>
    </li>
  </ul>



  <% if @league.status == true %>
    <div class="flexy">
      <%= image_tag "crown-victory.png", alt: "Le Wagon", id: "crown-winner" %>
    </div>
    <div class="flexy" id="flex-avatar">
        <% if @first_winner.photo.attached? %>
         <%= cl_image_tag @first_winner.photo.key, class: "avatar-vainqueur" %>
        <% else %>
          <%= image_tag "bobby.png", class: "avatar-vainqueur"%>
        <% end %>
        <% if @second_winner.photo.attached? %>
         <%= cl_image_tag @second_winner.photo.key, class: "avatar-vainqueur" %>
        <% else %>
          <%= image_tag "bobby.png", class: "avatar-vainqueur"%>
        <% end %>
    </div>
  <% end %>

  <div>
    <div class="flexy show-ranking" id="ol-classement">
      <table>
        <tr>
          <th style="padding-right:30px;"></th><th>CLASSEMENT</th><th>PTS</th><th>J</th><th>V/D</th><th>DIF</th>
        </tr>
          <% @teams_sorted.each_with_index do |team, index| %>
          <% if team.users.include?(current_user) %>
            <tr class="current-player">
              <td class="classement-gras"><%= index + 1 %></td>
              <td class="points-id back-grey"><%= team.users.first.username.upcase %><br><%= team.users.last.username.upcase %><br></td>
              <td class="points-id"><%= team.number_of_wins %></td>
              <td><%= team.games_played %></td>
              <td><%= team.number_of_wins %>/<%= (team.games_played - team.number_of_wins) %></td>
              <% if (team.points_for - team.points_against) > 0 %>
              <td class="diff-id">+<%= (team.points_for - team.points_against) %></td>
              <% else %>
              <td class="diff-id"><%= (team.points_for - team.points_against) %></td>
              <% end %>
            </tr>
          <% else %>
            <tr class="other-players">
              <td class="classement-gras"><%= index + 1 %></td>
              <td><%= team.users.first.username.upcase %><br><%= team.users.last.username.upcase %><br></td>
              <td class="points-id back-grey"><%= team.number_of_wins %></td>
              <td><%= team.games_played %></td>
              <td><%= team.number_of_wins %>/<%= (team.games_played - team.number_of_wins) %></td>
              <% if (team.points_for - team.points_against) > 0 %>
              <td class="diff-id">+<%= (team.points_for - team.points_against) %></td>
              <% else %>
              <td class="diff-id"><%= (team.points_for - team.points_against) %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>
