<h2 class="flexy light-blue-bar">
  <%= @league.name.upcase %>
</h2>

<div >
  <ul class="nav nav-pills nav-fill" style="margin-bottom:10px">
    <li class="nav-item yellow-box active" >
     <%# <a class="nav-link active"  href="#"> %>
      <%= link_to "CLASSEMENT", league_path(@league) %>
    </li>
    <li class="nav-item yellow-box" >
     <%# <a class="nav-link" href="#"> %>
      <%= link_to "MATCHS", league_games_path(@league) %>
    </li>
    <li class="nav-item yellow-box">
     <%# <a class="nav-link"  href="#"> %>
      <%= link_to "MUR", league_messages_path(@league) %>
    </li>
  </ul>
  <div>
    <div class="flexy show-ranking" id="ol-classement">
      <% teams_sorted = @league.teams.sort_by { |team| -(team.points_for - team.points_against) && -team.number_of_wins }  %>
      <table>
        <tr>
          <th class="team-right">TEAM</th><th>PTS</th><th>J</th><th>G</th><th>P</th><th>+</th><th>-</th><th>DIF</th>
        </tr>
      <% teams_sorted.each do |team| %>
        <tr>
          <% if team.users.include?(current_user) %>
          <td class="team-right current-player"><%= team.users.first.username.upcase %><br><%= team.users.last.username.upcase %><br></td>
          <% else %>
          <td class="team-right"><%= team.users.first.username.upcase %><br><%= team.users.last.username.upcase %><br></td>
          <% end %>
          <td><%= team.number_of_wins %></td>
          <td><%= team.games_played %></td>
          <td><%= team.number_of_wins %></td>
          <td><%= (team.games_played - team.number_of_wins) %></td>
          <td><%= team.points_for %></td><td><%= team.points_against %></td>
          <% if (team.points_for - team.points_against) > 0 %>
          <td>+<%= (team.points_for - team.points_against) %></td>
          <% else %>
          <td><%= (team.points_for - team.points_against) %></td>
          <% end %>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>
