<div class="menu">
  <%= link_to "/accueil", class:"menu__item" do %>
    <i class="fa-solid fa-house icones"></i>
  <% end %>
  <%= link_to leagues_path, class:"menu__item" do %>
    <i class="fa-solid fa-trophy icones"></i>
  <% end %>
  <%= link_to users_games_index_path, class:"menu__item" do %>
    <i class="fa-solid fa-basketball icones"></i>
  <% end %>
  <% if current_user %>
    <%= link_to user_path(current_user), class:"menu__item" do %>
      <i class="fa-solid fa-user icones"></i>
    <% end %>
  <% end %>
  <%= link_to community_path, class:"menu__item" do %>
    <i class="fa-solid fa-face-smile icones"></i>
  <% end %>
</div>
