<h2 class="flexy light-blue-bar">
  <%= @user.username.upcase %>
</h2>

<div data-controller="profile">
  <ul class="nav nav-pills nav-fill" style="margin-bottom:10px">
    <li class="nav-item" data-action="click->profile#stats">
      <a class="nav-link active" data-profile-target="stat" href="#">STATS</a>
    </li>
    <li class="nav-item" data-action="click->profile#badges">
      <a class="nav-link" data-profile-target="badge" href="#">BADGES</a>
    </li>
    <li class="nav-item" data-action="click->profile#collegues">
      <a class="nav-link" data-profile-target="collegue" href="#">COLLÈGUES</a>
    </li>
  </ul>



  <div class="stats" data-profile-target="stats">
    <h3>LE BILAN</h3>
    <% if current_user.photo.attached? %>
       <%= cl_image_tag current_user.photo.key, class: "avatar-poto" %>
    <% else %>
      <%= image_tag "bobby.png", class: "avatar-poto"%>
    <% end %>
    <h3>TOTAL MATCHS : <%= @number_of_games_played %></h3>
    <div class="victoires-defaites">
      <div>
        <p class="p-without-margin">VICTOIRES : <%= @number_of_wins %></p>
        <p class="p-without-margin"><%= @pourcentage_of_wins %>%</p>
      </div>
      <div>
        <p class="p-without-margin">DEFAITES : <%= @number_of_loses %></p>
        <p class="p-without-margin"><%= @pourcentage_of_loses %>%</p>
      </div>
    </div>
      <%# <%= image_tag "pourcentage.png", alt: "pourcentage", class: "barre-pourcentage" %>

      <div class="progress-container">
        <div style="width:<%= @pourcentage_of_wins %>%" class="green-bar"></div>
        <div style="width:<%= @pourcentage_of_loses %>%" class="red-bar"></div>
      </div>

    <p style="margin-top:20px;">Message de la direction : </p>
    <% if @pourcentage_of_wins > 90 %>
      <p class="p-margin-bottom"> "Alors là, chapeau <%= @user.username.upcase %>, on a rarement vu un bouliste de ta trempe"</p>
    <% elsif @pourcentage_of_wins > 70 %>
      <p class="p-margin-bottom"> "Belles perf' <%= @user.username.upcase %>, tu fais partie des tout meilleurs" </p>
    <% elsif @pourcentage_of_wins > 50 %>
      <p class="p-margin-bottom"> "C'est pas si mal <%= @user.username.upcase %>, mais tu sais au fond de toi que t'es capable de mieux. Attention à ne pas basculer dans le rouge" </p>
    <% elsif @pourcentage_of_wins > 30 %>
      <p class="p-margin-bottom"> "Ooooh minot <%= @user.username.upcase %>, il s'agirait de te réveiller !" </p>
    <% else %>
      <p class="p-margin-bottom"> "Aïe aïe aïe, ton bilan est catastrophique, il va falloir songer à changer de sport <%= @user.username.upcase %>" </p>
    <% end %>


    <h3 class="bar-profile">CONSEIL DE CLASSE</h3>
    <div class="flexy">
      <div class="card-player">
        <h4>C'est le sang !</h4>
        <% if @user1.photo.attached? %>
          <%= cl_image_tag @user1.photo.key, class: "avatar-poto"%><span><%= @user1.username.upcase %></span>
        <% else %>
          <%= image_tag "bobby.png", class: "avatar-poto"%><span><%= @user1.username.upcase %></span>
        <% end %>
        <p>73% de victoires avec <%= @user1.username.upcase %> comme collègue. On peut dire que c’est une affaire qui roule entre vous deux !</p>
      </div>
    </div>

    <div class="flexy">
      <div class="card-player">
        <h4>Oh misère...</h4>
        <% if @user2.photo.attached? %>
        <%= cl_image_tag @user2.photo.key, class: "avatar-poto"%><span><%= @user2.username.upcase %></span>
        <% else %>
        <%= image_tag "bobby.png", class: "avatar-poto"%><span><%= @user2.username.upcase %></span>
        <% end %>
        <p>85% de défaites avec <%= @user2.username.upcase %> comme collègue. Il serait temps de se rendre à l’évidence....</p>
      </div>
    </div>

    <h3 class="bar-profile">ENCORE DES STATS</h3>
    <div style="text-align:left;">
      <p>Nombre de points marqués : <%= @number_of_points_for %></p>
      <p>Nombre de points encaissés : <%= @number_of_points_against %></p>
        <% if (@number_of_points_for - @number_of_points_against) > 0 %>
          <p>Différence de buts : + <%= @number_of_points_for - @number_of_points_against %></p>
        <% else %>
          <p>Différence de buts : <%= (@number_of_points_for - @number_of_points_against) %></p>
        <% end %>
      <p>Nombre de ligues jouées : <%= @number_of_leagues_played %></p>
      <p>Nombre de ligues gagnées : <%= @number_of_leagues_wins %></p>
    </div>
  </div>

  <div class="d-none" data-profile-target="badges" style="margin-top:20px;">
    <div class="badge-div">
      <div class="flexy" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="click" data-bs-placement="auto" title="Generation" data-bs-content="Tu as gagné une ligue avec un collègue qui a au moins 30 ans d'écart avec toi !">
        <% if @user.badge.generation == true %>
          <%= image_tag "badge_generation.png", class: "badge-ok"%>
        <% else %>
          <%= image_tag "badge_generation.png", class: "badge-nok"%>
        <% end %>
        <p>Generation</p>
      </div>
      <div class="flexy" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="click" data-bs-placement="auto" title="Ligue🌟" data-bs-content="Tu as gagné une ligue, c'est déjà ça minot !">
        <% if @user.badge.first_league_winner == true %>
          <%= image_tag "badge_first_league.png", class: "badge-ok"%>
        <% else %>
          <%= image_tag "badge_first_league.png", class: "badge-nok"%>
        <% end %>
        <p>Minot</p>
      </div>
      <div class="flexy" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="click" data-bs-placement="auto" title="Ligue🌟🌟" data-bs-content="Tu as gagné 2 ligues, ça commence à être sérieux !">
        <% if @user.badge.three_league_winner == true %>
          <%= image_tag "badge_three_league.png", class: "badge-ok"%>
        <% else %>
          <%= image_tag "badge_three_league.png", class: "badge-nok"%>
        <% end %>
        <p>Expert</p>
      </div>
    </div>
    <div class="badge-div" style="margin-top:30px">
      <div class="flexy" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="click" data-bs-placement="auto" title="Ligue🌟🌟🌟" data-bs-content="Tu as gagné 3 ligues, gros respect !">
        <% if @user.badge.five_league_winner == true %>
          <%= image_tag "badge_five_league.png", class: "badge-ok"%>
        <% else %>
          <%= image_tag "badge_five_league.png", class: "badge-nok"%>
        <% end %>
        <p>Zizou</p>
      </div>
      <div class="flexy" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="click" data-bs-placement="auto" title="Fanny" data-bs-content="Tu as gagné un math 13-0 !">
        <% if @user.badge.first_fanny == true %>
          <%= image_tag "badge_first_fanny.png", class: "badge-ok"%>
        <% else %>
          <%= image_tag "badge_first_fanny.png", class: "badge-nok"%>
        <% end %>
        <p>Fanny</p>
      </div>
      <div class="flexy" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="click" data-bs-placement="auto" title="Le sang" data-bs-content="Tu es le sang de la veine mamène !">
        <% if @user.badge.wood_ball == true %>
          <%= image_tag "badge1.png", class: "badge-ok"%>
        <% else %>
          <%= image_tag "badge1.png", class: "badge-nok"%>
        <% end %>
        <p>Le sang</p>
      </div>
    </div>
    <div class="badge-div" style="margin-top:30px">
      <div class="flexy" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="click" data-bs-placement="auto" title="Sniper" data-bs-content="Tyé un sacré tireur Manu !">
        <% if @user.badge.silver_ball == true %>
          <%= image_tag "badge2.png", class: "badge-ok"%>
        <% else %>
          <%= image_tag "badge2.png", class: "badge-nok"%>
        <% end %>
        <p>Sniper</p>
      </div>
      <div class="flexy" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="click" data-bs-placement="auto" title="Bobby" data-bs-content="Bobby le pointeur :) !">
        <% if @user.badge.gold_ball == true %>
          <%= image_tag "badge3.png", class: "badge-ok"%>
        <% else %>
          <%= image_tag "badge3.png", class: "badge-nok"%>
        <% end %>
        <p>Bobby</p>
      </div>
      <div class="flexy" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="click" data-bs-placement="auto" title="Fanny Boss" data-bs-content="Tu as gagné un math 13-0 !">
        <% if @user.badge.three_fanny == true %>
          <%= image_tag "badge_five_fanny.png", class: "badge-ok"%>
        <% else %>
          <%= image_tag "badge_five_fanny.png", class: "badge-nok"%>
        <% end %>
        <p>Fanny Boss</p>
      </div>
    </div>
  </div>


  <div class="d-none" data-profile-target="collegues">
    <div class="row div-collegues">
      <% current_user.friends.each do |friend| %>
      <div class="flexy col-5" style="margin-bottom:30px;flex-grow:1">
          <% if friend.photo.attached? %>
            <%= cl_image_tag friend.photo.key, class: "avatar-poto" %>
          <% else %>
            <%= image_tag "bobby.png", class: "avatar-poto"%>
          <% end %>
          <p><%= friend.username.upcase %></p>
      </div>
      <% end %>
    </div>
  </div>

</div>
