<h1>coucou de la cummutiyi</h1>
<p>Invite un ami :</p>
<% current_user.friends.each do |friend| %>
<%= friend.username %>
<% end %>

<%= form_with url: "/community", method: :get do %>
  <%= text_field_tag :query,
  params[:query],
  placeholder: "rechercher votre collègue"%>
  <button class="btn-medium" type="submit" label="search"></button>
  <% end %>


  <% @users.each do |user| %>
    <%= form_with model: [@invitation] do |form| %>
    <%= form.button "#{user.username}", name: "invitation", value: user.id %>
    <% end %>
  <% end %>
