<h3 class="bar light-blue-bar">ALORS C'EST QUOI LE SCORE ?</h3>
<div class="edit-score">
  <%= form_with model: @game, html: {class: "edit-score-form"} do |form| %>
    <div class="team-display">
      <% @team1.users.each do |user| %>
      <div class="each-player">
      <% if user == current_user %>
        <%= image_tag user.profile_pic, class: "avatar-yellow avatar-medium avatar-score" %>
      <% else %>
      <%= image_tag user.profile_pic, class: "avatar-blue avatar-medium avatar-score" %>
      <% end %>
        <%= user.username.upcase %>
      </div>
      <% end %>
    </div>
  <%= form.text_area :score_first_team, class: 'score-team'  %>
    <div class="team-display">
      <% @team2.users.each do |user| %>
      <div class="each-player">
      <% if user == current_user %>
        <%= image_tag user.profile_pic, class: "avatar-yellow avatar-medium avatar-score" %>
      <% else %>
      <%= image_tag user.profile_pic, class: "avatar-blue avatar-medium avatar-score" %>
      <% end %>
        <%= user.username.upcase %>
      </div>
        <% end %>
    </div>
    <%= form.text_area :score_second_team, class: 'score-team'  %>
    <br>
    <%= form.submit "VALIDER", class: "btn-small btn-smally" %>
  <% end %>
</div>
