<h2 class="bar light-blue-bar">
  <%= @league.name.upcase %>
</h2>

<ul class="nav nav-pills nav-fill" >
  <li class="nav-item yellow-box" >
    <%= link_to "CLASSEMENT", league_path(@league) %>
  </li>
  <li class="nav-item yellow-box active" >
    <%= link_to "MATCHS", league_games_path(@league) %>
  </li>
  <li class="nav-item yellow-box">
    <%= link_to "MUR", league_messages_path(@league) %>
  </li>
</ul>

<div class="flexy" style="margin-top:20px">
  <% @current_user_games.each do |game| %>
    <% first_team = game.teams.first %>
    <% second_team = game.teams.last %>
        <div class="row row-game">
          <div class="col-4 col-left">
            <% if first_team.users[0] == current_user %>
              <p class="player-actuel"><%= first_team.users[0].username.upcase %><%= image_tag current_user.profile_pic, class: "avatar-yellow avatar-mini" %>
            <% else %>
              <p class="player-actuel"><%= first_team.users[0].username.upcase %>
            <% end %>
            <% if first_team.users[1] == current_user %>
              <p class="player-actuel"><%= first_team.users[1].username.upcase %><%= image_tag current_user.profile_pic, class: "avatar-yellow avatar-mini" %>
            <% else %>
              <p class="player-actuel"><%= first_team.users[1].username.upcase %>
            <% end %>
          </div>
          <div class="col-4 score-color" style="text-align:center">
            <% if game.status == true %>
              <%= game.score_first_team %> - <%= game.score_second_team %>
            <% else %>
              <%= link_to "SCORE ?", edit_league_game_path(@league, game.id), class:"btn-small btn-score" %>
            <% end %>
          </div>
          <div class="col-4 col-right">
            <% if second_team.users[0] == current_user %>
              <p class="player-actuel"><%= second_team.users[0].username.upcase %><%= image_tag current_user.profile_pic, class: "avatar-yellow avatar-mini" %>
            <% else %>
              <p class="player-actuel"><%= second_team.users[0].username.upcase %>
            <% end %>
            <% if second_team.users[1] == current_user %>
              <p class="player-actuel"><%= second_team.users[1].username.upcase %><%= image_tag current_user.profile_pic, class: "avatar-yellow avatar-mini" %>
            <% else %>
              <p class="player-actuel"><%= second_team.users[1].username.upcase %>
            <% end %>
          </div>
        </div>
  <% end %>


  <% @other_games.each do |game| %>
    <% first_team = game.teams.first %>
    <% second_team = game.teams.last %>
        <div class="row row-game">
          <div class="col-4 col-left">
            <% if first_team.users[0] == current_user %>
              <p class="player-actuel"><%= first_team.users[0].username.upcase %><%= image_tag current_user.profile_pic, class: "avatar-yellow avatar-mini" %>
            <% else %>
              <p class="player-actuel"><%= first_team.users[0].username.upcase %>
            <% end %>
            <% if first_team.users[1] == current_user %>
              <p class="player-actuel"><%= first_team.users[1].username.upcase %><%= image_tag current_user.profile_pic, class: "avatar-yellow avatar-mini" %>
            <% else %>
              <p class="player-actuel"><%= first_team.users[1].username.upcase %>
            <% end %>
          </div>
          <div class="col-4 score-color" style="text-align:center">
            <% if game.status == true %>
              <%= game.score_first_team %> - <%= game.score_second_team %>
            <% else %>
              <%= "-" %>
            <% end %>
          </div>
          <div class="col-4 col-right">
            <% if second_team.users[0] == current_user %>
              <p class="player-actuel"><%= second_team.users[0].username.upcase %><%= image_tag current_user.profile_pic, class: "avatar-yellow avatar-mini" %>
            <% else %>
              <p class="player-actuel"><%= second_team.users[0].username.upcase %>
            <% end %>
            <% if second_team.users[1] == current_user %>
              <p class="player-actuel"><%= second_team.users[1].username.upcase %><%= image_tag current_user.profile_pic, class: "avatar-yellow avatar-mini" %>
            <% else %>
              <p class="player-actuel"><%= second_team.users[1].username.upcase %>
            <% end %>
          </div>
        </div>
  <% end %>
</div>
