<h2 class="flexy light-blue-bar">
  <%= @league.name.upcase %>
</h2>

<ul class="nav nav-pills nav-fill" >
  <li class="nav-item yellow-box" >
    <%= link_to "CLASSEMENT", league_path(@league) %>
  </li>
  <li class="nav-item yellow-box active" >
    <%= link_to "MATCHS", league_games_path(@league) %>
  </li>
  <li class="nav-item yellow-box">
    <%= link_to "MUR", league_messages_path(@league) %>
  </li>
</ul>

<div class="flexy" style="margin-top:20px">
  <% @league.games.each do |game| %>
      <% game_players = game.teams.map { |team| team.users }.flatten %>
      <% if game_players.include?(current_user) %>
        <div class="row row-game">
          <div class="col-4 col-left">
            <% if current_user == game_players[0] || current_user == game_players[1] %>
              <% if current_user == game_players[0] %>
                <div class="flex-class-user">
                  <p class="player-actuel"><%= game_players[0].username.upcase %>
                  <% if current_user.photo.attached? %>
                   <%= cl_image_tag current_user.photo.key, class: "avatar-bis" %></p>
                  <% else %>
                   <%= image_tag "bobby.png", class: "avatar-bis"%></p>
                  <% end %>
                </div>
              <% else %>
                <p class="player-actuel"><%= game_players[0].username.upcase %>
              <% end %>
              <% if current_user == game_players[1] %>
                <div class="flex-class-user">
                  <p class="player-actuel"><%= game_players[1].username.upcase %>
                  <% if current_user.photo.attached? %>
                    <%= cl_image_tag current_user.photo.key, class: "avatar-bis" %></p>
                  <% else %>
                    <%= image_tag "bobby.png", class: "avatar-bis"%></p>
                  <% end %>
                </div>
              <% else %>
                <p class="player-actuel"><%= game_players[1].username.upcase %>
              <% end %>
            <% else %>
              <p class="other-player"><%= game_players[0].username.upcase %></p>
              <p class="other-player"><%= game_players[1].username.upcase %></p>
            <% end %>
          </div>
          <div class="col-4 score-color" style="text-align:center">
          <% if game.status == true %>
            <%= game.score_first_team %> - <%= game.score_second_team %>
          <% else %>
            <%= link_to "SCORE ?", league_game_path(@league, game.id), class:"btn-small btn-score" %>
          <% end %>
          </div>
          <div class="col-4 col-right">
          <% if current_user == game_players[2] || current_user == game_players[3] %>
            <% if current_user == game_players[2] %>
              <div class="flex-class-user">
                <p class="player-actuel"><%= game_players[2].username.upcase %>
                 <% if current_user.photo.attached? %>
                    <%= cl_image_tag current_user.photo.key, class: "avatar-bis" %></p>
                  <% else %>
                    <%= image_tag "bobby.png", class: "avatar-bis"%></p>
                  <% end %>
              </div>
            <% else %>
              <p class="player-actuel"><%= game_players[2].username.upcase %>
            <% end %>
            <% if current_user == game_players[3] %>
              <div class="flex-class-user">
                <p class="player-actuel"><%= game_players[3].username.upcase %>
                  <% if current_user.photo.attached? %>
                    <%= cl_image_tag current_user.photo.key, class: "avatar-bis" %></p>
                  <% else %>
                    <%= image_tag "bobby.png", class: "avatar-bis"%></p>
                  <% end %>
              </div>
            <% else %>
              <p class="player-actuel"><%= game_players[3].username.upcase %>
            <% end %>
          <% else %>
            <p class="other-player"><%= game_players[2].username.upcase %></p>
            <p class="other-player"><%= game_players[3].username.upcase %></p>
          <% end %>
          </div>
        </div>
      <% end %>
    <% end %>


  <% @league.games.each do |game| %>
      <% game_players = game.teams.map { |team| team.users }.flatten %>
      <% if game_players.exclude?(current_user) %>
        <div class="row row-game">
          <div class="col-4 col-left">
            <p class="other-player"><%= game_players[0].username.upcase %></p>
            <p class="other-player"><%= game_players[1].username.upcase %></p>
          </div>
          <div class="col-4 score-color" style="text-align:center">
          <% if game.status == true %>
            <%= game.score_first_team %> - <%= game.score_second_team %>
            <% else %>
            <%= "-" %>
          <% end %>
          </div>
          <div class="col-4 col-right">
            <p class="other-player"><%= game_players[2].username.upcase %></p>
            <p class="other-player"><%= game_players[3].username.upcase %></p>
          </div>
        </div>
          <% end %>
      <% end %>
</div>
