<h2 class="bar light-blue-bar">MATCH ONE SHOT</h2>
  <div class="edit-score-form">
    <div class="team-display team-display-one-shot">
      <% @team_one.users.each do |user| %>
      <div class="each-player">
      <% if user == current_user %>
        <%= image_tag user.profile_pic, class: "avatar-yellow avatar-medium avatar-score" %>
      <% else %>
      <%= image_tag user.profile_pic, class: "avatar-blue avatar-medium avatar-score" %>
      <% end %>
        <%= user.username.upcase %>
      </div>
      <% end %>
    </div>

    <div class="flexy" id="score-one-shot">
    <% if @game.status == true %>
      <div class="score-one-shot">
        <h1><%= @game.score_first_team %></h1>
        <h1> ------ </h1>
        <h1><%= @game.score_second_team %></h1>
      </div>
    <% else %>
      <%= link_to "SCORE ?", edit_league_game_path(@game.id), class:"btn-small btn-score" %>
    <% end %>
    </div>
    <div class="team-display team-display-one-shot">
      <% @team_two.users.each do |user| %>
      <div class="each-player">
      <% if user == current_user %>
        <%= image_tag user.profile_pic, class: "avatar-yellow avatar-medium avatar-score" %>
      <% else %>
      <%= image_tag user.profile_pic, class: "avatar-blue avatar-medium avatar-score" %>
      <% end %>
        <%= user.username.upcase %>
      </div>
        <% end %>
    </div>

  </div>
