<%= form_with url: league_team_users_path(@league), method: :post do |f| %>
  <% 5.times do |i|%>
    <h1>team <%= i + 1%></h1>
    <select  name="teams[user][]" data-controller="tom-select" multiple placeholder="Select a state...">
      <% @users.each do |user| %>
        <option value="<%= user.id %>" data-src="https://cdn1.iconfinder.com/data/icons/logotypes/32/chrome-32.png"><%= user.username %></option><%=  %>
      <% end %>
    </select>
  <% end %>

    <%= f.button :submit %>
<% end %>

<% console %>
