<% all_username = [] %>
<% @selected_users.each do |selected_user| %>
<% user = User.find(selected_user[:user_id].to_i) %>
<% all_username << user %>
<% end %>
<% i = 0 %>

<div class="container-new">
  <%= form_with model: [@league, @team_user] do |f| %>
    <div class="form-league">
    <% x = @selected_users.length / 2 %>

      <% x.times do %>
        <% i += 1 %>
        <div class="each-team">
          <h3><%= "Doublette n°#{i}" %></h3>
          <div class="selection">
            <%= f.collection_select "team#{i}user1", all_username, :id, :username %>
            <%= f.collection_select "team#{i}user2", all_username, :id, :username %>
          </div>
        </div>
      <% end %>
      <%= f.submit "VALIDER", class: "btn-create-team" %>
    </div>
  <% end %>
</div>
