
<div data-controller="terrain">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item active" data-action="click->terrain#showfields" data-terrain-target="field">
          <a class="nav-link" href="#">FIELDS</a>
        </li>
        <li class="nav-item" data-action="click->terrain#showcartes" data-terrain-target="carte">
          <a class="nav-link" href="#">MAP</a>
        </li>
      </ul>

      <div style="height: 100vh;"
        data-controller="map"
        data-terrain-target="cartes"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        class= "map-field d-none"
        id= "map">
      </div>

      <div class="card-product" data-terrain-target="fields">
            <% @fields.each do | field | %>
                <div class="main-card">
                  <div class="main-card-img">
                    <% if field.photos.attached? %>
                        <%= cl_image_tag field.photos.first.key%>
                    <% else %>
                        <%= image_tag "bobby.png"%>
                    <% end %>
                  </div>
                    <div class="card-product-infos">
                      <h2><%= "#{field.name}" %></h2>
                      <p><%= "#{field.address}" %></p>
                    </div>
                </div>
            <% end %>
      </div>

</div>
